/* Header */
.header {
    box-sizing: border-box;
    position: absolute;
    height: 207px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #CE2829;
    border-bottom: 1px solid #C20608;
    box-shadow: 0px 9px 150px -30px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  /* Teknolojik Yemekler Başlık */
  .header h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0;
    width: 361.93px; 
    height: 45.79px; 
    left: 780.21px; 
    top: 66.49px; 
  }
  
/* Menü */
.header nav p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #FAF7F2;
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 500px; 
    top: 157px;
  }
  
  
  /* Anasayfa Linki */
  .header nav p a {
    color: #FAF7F2;
    text-decoration: none;
    font-weight: 400;
    margin-right: 10px;
  }
  
  /* Sipariş Oluştur Linki */
  .header nav p strong {
    font-weight: 700;
    color: #FFFFFF;
  }
  