
.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #CE2829;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/*Teknolojik Yemekler Başlık */
.success-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

/* Mesaj Alanı */
.success-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Tebrikler! Siparişiniz Alındı! */
.success-message h2 {
    font-size: 86px;
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.success-message h3 {
    font-size: 68px;
    font-weight: lighter;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Success sayfası giriş çıkış efekti */
.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(20px);
  }
  

/*Responsive*/
@media (max-width: 768px) {
    .success-title {
        font-size: 20px;
        top: 20px;
    }

    .success-message h2 {
        font-size: 42px;
    }

    .success-message h3 {
        font-size: 32px;
    }
}

body, html {
    overflow: hidden;
    height: 10vh;
}