/* 🌟 Tüm Sayfa Temel Düzeni */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 🌟 HTML ve BODY Genel Ayarlar */
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Barlow', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; /* Sayfanın ortalanmasını sağlar */
  }
  
  /* 🌟 Linklerin Default Stili */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* 🌟 Başlıkların Default Stili */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  